{
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 90,
  "pluginSearchDirs": ["."],
  "overrides": [
    {
      "files": "*.svelte",
      "options": { "parser": "svelte" }
    }
  ]
}
